{% paginate collection.products by section.settings.pagination_limit %}
  {% assign tag_count = collection.all_tags | size %}
  {% assign tag_threshold = section.settings.tag_threshold | minus: 0 %}

  <div class="container main">
    <div class="sixteen columns clearfix collection_nav feature_banner">
      <h1 class="collection_title {% if section.settings.collection_tags and tag_count <= tag_threshold %}collection_title_tags{% endif %}"><a href="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}" title="{{ collection.title | escape }}">{{ collection.title }}</a></h1>
      
      {% if collection.handle != blank and collection.products_count > 0 %}
        {% if section.settings.collection_tags %}
          <div class="section_select tag_filter" {% if tag_count > tag_threshold %}style="display:block"{% endif %}>
            <select name="tag_filter" id="tag_filter">
              <option {% unless current_tags %}selected="selected"{% endunless %} value="{% if collection.handle == "all" %}/collections/all{% elsif collection.handle %}{{ collection.url }}{% elsif collection.all_products_count > 0 and collection.products.first.type == collection.title %}{{ collection.title | url_for_type }}{% elsif collection.all_products_count > 0 and collection.products.first.vendor == collection.title %}{{ collection.title | url_for_vendor }}{% endif %}">{{ 'collections.general.view_all' | t }}</option>
              {% for tag in collection.all_tags %}
                {% unless tag contains 'meta-related-collection-' %}
                  <option {% if current_tags contains tag %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag }}</option>
                {% endunless %}
              {% endfor %}
            </select>
          </div>
        {% endif %}

        {% if section.settings.collection_sort %}
          <div class="section_select">
            <select id="sort-by" data-default-sort="{{ collection.sort_by | default: collection.default_sort_by }}" >
              <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
              <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
              <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
              <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
              <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
              <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
              <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
              <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
            </select>
          </div>
        {% endif %}
      {% endif %}      
      {% if section.settings.collection_tags %}
        {% if tag_count <= tag_threshold %}
          <ul class="collection_menu">
            <li>
              <a href="{% if collection.handle == "all" %}/collections/all{% elsif collection.handle %}{{ collection.url }}{% elsif collection.all_products_count > 0 and collection.products.first.type == collection.title %}{{ collection.title | url_for_type }}{% elsif collection.all_products_count > 0 and collection.products.first.vendor == collection.title %}{{ collection.title | url_for_vendor }}{% endif %}">{% if current_tags %}{{ 'collections.general.view_all' | t }}{% else %}<span class="active">{{ 'collections.general.view_all' | t }}</span>{% endif %}</a>
            </li>
            {% for tag in collection.all_tags %}
              {% unless tag contains 'meta-' %}
                <li>
                  {{ tag | highlight_active_tag | link_to_tag: tag }}
                </li>
              {% endunless %}
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    </div>
  </div>

  {% if collection.image %}
    <img  src="{{ collection.image | img_url: '1200x' }}"
          class="banner_image lazyload transition-in"
          sizes="100vw"
          srcset="{{ collection.image | img_url: '480x' }} 480w,
                  {{ collection.image | img_url: '768x' }} 768w,
                  {{ collection.image | img_url: '1200x' }} 1200w,
                  {{ collection.image | img_url: '2048x2048' }} 2048w"
           />
  {% endif %}

  <div class="container">
    {% if collection.description != blank %}
      <div class="sixteen columns">
        <div class="section clearfix">
          {{ collection.description }}
        </div>
      </div>
    {% endif %}

    {% if section.settings.collection_sidebar %}
      {% include 'sidebar' %}
      <div class="twelve columns">
    {% else %}
      <div class="sixteen columns">
    {% endif %}


    {% if collection.products.size == 0 %}
      <div class="center">
        <div class="section clearfix">
          <p class="quote">{{ 'collections.general.no_matches' | t }}</p>
        </div>
      </div>
    {% else %}
      {% assign products = collection.products %}
      {% assign products_per_row = section.settings.products_per_row %}
      {% include 'product-loop' with section.settings.collection_sidebar %}
    {% endif %}
    </div>

    {% include 'pagination' with section.settings.collection_sidebar %}
  </div>
{% endpaginate %}

{% schema %}

{
  "name": "Collection banner",
  "class": "collection-template-section collection-banner-template-section",
  "settings": [
    {
      "type": "select",
      "id": "products_per_row",
      "label": "Products per row",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ]
    },
    {
      "type": "select",
      "id": "pagination_limit",
      "label": "Products per page",
      "options": [
        {
          "value": "24",
          "label": "24"
        },
        {
          "value": "36",
          "label": "36"
        },
        {
          "value": "48",
          "label": "48"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "collection_tags",
      "label": "Enable filtering by product tag"
    },
    {
      "type": "text",
      "id": "tag_threshold",
      "label": "Maximum product tag links",
      "default": "5",
      "info": "The threshold value for the maximum number of product tag links to display before changing to a select box."
    },
    {
      "type": "checkbox",
      "id": "collection_sort",
      "label": "Enable collection sorting"
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "checkbox",
      "id": "collection_sidebar",
      "label": "Enable sidebar"
    },
    {
      "type": "link_list",
      "id": "collection_sidebar_linklist",
      "label": "Menu 1"
    },
    {
      "type": "link_list",
      "id": "collection_sidebar_linklist2",
      "label": "Menu 2"
    },
    {
      "type": "checkbox",
      "id": "filter_by_category",
      "label": "Show collections"
    },
    {
      "type": "checkbox",
      "id": "filter_by_tag",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "collection_sidebar_products",
      "label": "Show types"
    },
    {
      "type": "checkbox",
      "id": "collection_sidebar_vendors",
      "label": "Show vendors"
    },
    {
      "type": "page",
      "id": "collection_sidebar_page",
      "label": "Content page"
    }
  ]
}

{% endschema %}